#{extends 'main.html' /}
#{set title:'Welcome to WitPress' /}

<nav class="ui inverted orange menu">
  <a class="ui item" href="/">About</a>
  <a class="ui item" href="/Accounts/SignUp">Sign Up</a>
  <a class="ui item" href="/Accounts/Login">Log In</a>
  <a class="ui item" href="/Blog">Blog</a>
  <a class="ui active item" href="/PublicBlogDirectory">Public Blog Directory</a>
  <a class="ui item" href="/Logout">Logout</a>
</nav>

<section class="ui segment">

	<table class="ui inverted orange table segment">
	<thead>
	  <tr>
	    <th>Public blogs</th>
	  </tr>
	</thead>
	<tbody>
	  #{list items:alluser, as:'user'}
	    <tr>
	      <td><i class="user icon"></i><a class=ui item" href="/PublicBlog/${user.id}">&nbsp${user.firstName}&nbsp${user.lastName}</a> </td>
	    </tr>
	  #{/list}
	</tbody>
	</table>
</section>
