#{extends 'main.html' /}
#{set title:'Welcome to WitPress' /}

<nav class="ui inverted orange menu">
  <a class="ui active item" href="/">About</a>
  <a class="ui item" href="/Accounts/SignUp">Sign Up</a>
  <a class="ui item" href="/Accounts/Login">Log In</a>
  <a class="ui item" href="/Blog">Blog</a>
  <a class="ui item" href="/Logout">Logout</a>
</nav>

<section class="ui segment">
 <h2 class="title">Welcome to WitPress</h2>
 <h3>Your Blogging portal</h3>
 <div class="ui two colum grid">
  <div class="ten wide column">
    <div class="ui raised segment">
      <p>If nobody blogged would anybody really notice apart from the trolls</p>
      <img class="ui medium rounded image"  src="public/images/trolls.gif"><br>
      <a href="/Accounts/login"><button class="ui orange button">Log in</button></a> or <a href="Accounts/signup"><button class="ui orange button">create a new account</button></a> and input your details on the Input Data page.
      To provide the required information will take just a few minutes of your time. <br />

    </div>
  </div>
</div>
</section>
