#{extends 'main.html' /}
#{set title:'Comment on WitPress' /}

<nav class="ui inverted orange menu">
  <a class="ui item" href="/">About</a>
  <a class="ui item" href="/Accounts/SignUp">Sign Up</a>
  <a class="ui item" href="/Accounts/Login">Log In</a>
  <a class="ui active item" href="/Blog">Blog</a>
  <a class="ui item" href="/PublicBlogDirectory">Public Blog Directory</a>
  <a class="ui item" href="/Logout">Logout</a>
</nav>

<section class="ui segment">
<h1 class="ui orange header">Comment page for : ${post.title}</h1>
<h4 class="ui orange header">Content of the blog is :${post.content}</h4>

<div class="ui grid">
  <div class="ten wide column">
  <div class="six wide column segment">       	
		<div class="ui list">
		 #{list items:post.comments, as:'com'}
	      <div class="item"><a class="ui item" href="/Comment/${post.id}">${com.content}</a></div>
			<div class="item">
				<form action="/Comment/deleteComment/${com.id}" class="ui form" method="post">  
	              <button class="ui mini submit orange button">Delete</button> </ul>
	        	</form>
	        </div>
	     #{/list}
      </div>
 <form action="/Comment/post/${post.id}" class="ui form" method="post">
		  <div class="ui form">
	          <div class="field">
	          	<label>Comment</label>
	            <textarea rows="5" name="Comments"></textarea>
	          </div>
          </div>
          <button  class="ui orange labeled submit icon button">
            <i class="icon edit"></i> Submit
          </button>
        </form> 
        </div>
</section>
